:global{
  body{
    margin: 0;
    background: #5c5c5c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  header{
    font-size: 100px;
    text-align: center;
    font-style: oblique;
    background: #12233d;
    color: #fff;
    padding: 20px;
    margin: 0;
    &::after, &::before{
      content: "\1F37A";
    }
  }
  #accordionWrapper{
    h2.accordionHeader{
      text-align: center;
      margin: 0;
      background-image: linear-gradient(#d26618,#fde00a);
      padding: 10px;
      color: #fff;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      .accordion{
        background:  #f6f6f6;
        margin: 4px 10px;
        padding: 5px;
        overflow: hidden;
        max-height: 30px;
        h2.beerDetailsHeader{
          cursor: pointer;
          padding: 8px;
          margin: 0;
          font-size: 14px;
          position: relative;
          &::after{
            content: '\25BA';
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
        div.beerDetailsBody{
          padding: 15px;
          div{
            display: flex;
            flex-direction: row;
            margin-bottom: 5px;
            em{
              margin-right: 10px;
            }
          }
        }
        &.active{
          max-height: 1000px;
          transition: max-height ease 0.5s;
          border: 0.5px solid #d2661856;
          h2{
            color: #d26618;
            &::after{
              content: '\25BC';
            }
          }
        }
      }
    }
  }
  #gridWrapper{
    padding: 25px;
    .filter{
      label{
        font-size: 12px;
        display: inherit;
        text-transform: capitalize;
        color: #fff;
        padding-left: 8px;
      }
      select{
        background: #d26619;
        border-radius: 0;
        width: 200px;
        height: 45px;
        margin: 5px 0px;
        color: #e6e6e6;
        font-weight: bold;
        font-size: 13px;
        border: none;
      }
    }
    ul#listContainer{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap:1em;
      grid-auto-rows: minmax(200px, auto);
      li.beerItem{
        // padding: 10px;
        div.beerBox{
          background:  #f6f6f6;
          img.beerImage{
            height: 200px;
            display: block;
            width: 100px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 10px;
          }
          div.beerName{
            padding: 15px;
            text-align: center;
            background: rgba(210, 102, 25, 0.10980392156862745);
          }
        }
      }
    }
  }

  .carouselWrapper{
    margin: 40px 30px;
    height: 500px;
    div.carouselItem{
      // padding: 10px;
      div.carouselItemContent{
        background:  #fcfcfc;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: minmax(500px, auto);
        div.carouselImageBox{
          img.carouselImage{
            height: 450px;
            display: block;
            width: 200px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 25px;
          }
        }
        div.carouselDetails{
          padding: 15px;
          text-align: center;
          background: #d26618;
          div{
            font-style: italic;
            margin: 10px;
          }
        }
      }
    }
  }

  @media only screen and (max-height: 445px){
    body{
      background: #000;
      #gridWrapper{
        ul#listContainer{
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  @media only screen and (max-height: 768px){
    body{
      header{
        display: none;
      }
      background: #2d2d2d;
      #gridWrapper{
        ul#listContainer{
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .carouselWrapper{
        margin: 40px 30px;
        height: 500px;
        div.carouselItem{
          div.carouselItemContent{
            grid-template-columns: repeat(1, 1fr);
            div.carouselDetails{ display: none; }
          }
        }
      }
    }
  }
}
